    <div class="card recipe-item">
        <div class="card">
            <img
                [src]="recipe?.imageUrl"
                class="card-img-top"
                alt="{{ recipe?.title }}"
            >
            <div class="card-body text-center">
                <div class="card-info ">
                    <h5 class="card-title">{{ recipe?.title }}</h5>
                    <p class="card-text">{{recipe?.description | shorten : 70}}</p>
                </div>
                <a
                    routerLink="/recipes/details/{{recipe?._id}}"
                    class="btn btn-primary"
                    *ngIf="isAuthenticated"
                >Details</a>
                <p><a *ngIf="!isAuthenticated" routerLink="/login">Login</a> to view details!</p>
            </div>
        </div>
    </div>
