
.add-recipe {
  margin: 40px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.add-recipe-form {
  margin-top: 50px;
  text-align: center;
}
.add-recipe-form button{
    margin-top: 50px;
}