
input.ng-invalid.ng-touched{
  border: 1px solid red
}
textarea.ng-invalid.ng-touched{
  border: 1px solid red
}
.add-recipe-form .input-help{
  color: red
}
.add-recipe-form label{
  font-weight: 600;
}
/* .add-recipe-form{
  background-color: antiquewhite;
  border-radius: 16px;
} */
/* .container-fluid{
 display: grid;
} */
/* .add-recipe {
   margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
} */

/* .add-recipe-form {
  margin-top: 50px;
  text-align: center;
}
.add-recipe-form button{
    margin-top: 50px;
} */