<div *ngIf="isLoading">
    <app-loader />
</div>
<div *ngIf="!isLoading" class="add-recipe pt-4">
    
    <h1 class="text-center">Recipe Edit</h1>
    <form
        class="add-recipe-form"
        [formGroup]="recipeForm"
        (ngSubmit)="onSubmit()"
    >
    <div class="container h-custom">
        <div class="row mt-4">
            <div class="col-12 col-md-4 col-lg-4 col-xl-4 ">


                <div class="form-group">
                    <label for="title">Title</label>
                    <input
                        type="text"
                        class="form-control form-control-sm mt-1 mb-2"
                        id="title"
                        placeholder="Fried rice with egg & ginger"
                        formControlName="title"
                    >
                    <small
                        class="input-help form-text "
                        *ngIf="!recipeForm.get('title')?.valid && recipeForm.get('title')?.touched"
                    >Title is required!</small>
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select
                        class="form-control form-control-sm mt-1 mb-2"
                        id="category"
                        formControlName="category"
                    >
                        <option>drinks</option>
                        <option>main-dishes</option>
                        <option>healthy-recipes</option>
                        <option>quick-recipes</option>
                        <option>desserts</option>
                        <option>salads</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="dificulty">Dificulty level</label>
                    <select
                        class="form-control form-control-sm mt-1 mb-2"
                        id="dificulty"
                        formControlName="dificulty"
                    >
                        <option>easy</option>
                        <option>medium</option>
                        <option>hard</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="prepare">Prepare time</label>
                    <input
                        type="text"
                        id="prepare"
                        class="form-control form-control-sm mt-1 mb-2"
                        placeholder="10 mins"
                        formControlName="prepare"
                    >
                    <small
                        class="input-help form-text "
                        *ngIf="!recipeForm.get('prepare')?.valid && recipeForm.get('prepare')?.touched"
                    >Prepare time is required!</small>
                </div>
                <div class="form-group">
                    <label for="cook">Cooking time</label>
                    <input
                        type="text"
                        id="cook"
                        class="form-control form-control-sm mt-1 mb-2"
                        placeholder="15 mins"
                        formControlName="cook"
                    >
                    <small
                        class="input-help form-text "
                        *ngIf="!recipeForm.get('cook')?.valid && recipeForm.get('cook')?.touched"
                    >Cooking time is required!</small>
                </div>
                <div class="form-group">
                    <label for="serves">Servers</label>
                    <input
                        type="text"
                        id="serves"
                        class="form-control form-control-sm mt-1 mb-2"
                        placeholder="Serves 4"
                        formControlName="serves"
                    >
                    <small
                        class="input-help form-text "
                        *ngIf="!recipeForm.get('serves')?.valid && recipeForm.get('serves')?.touched"
                    >Serves is required!</small>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea
                        class="form-control mt-1 mb-2"
                        id="description"
                        placeholder="Add some description here..."
                        formControlName="description"
                    ></textarea>
                    <small
                        class="input-help form-text "
                        *ngIf="!recipeForm.get('description')?.valid && recipeForm.get('description')?.touched"
                    >Description is required!</small>
                </div>
                <div class="form-group">
                    <label for="imageUrl">Image URL</label>
                    <input
                        type="text"
                        id="imageUrl"
                        class="form-control form-control-sm mt-1 mb-2"
                        placeholder="image URL"
                        formControlName="imageUrl"
                    >
                    <small
                        class="input-help form-text "
                        *ngIf="!recipeForm.get('imageUrl')?.valid && recipeForm.get('imageUrl')?.touched"
                    ><ng-container *ngIf="recipeForm.get('imageUrl')?.hasError('required')">
                            Image URL is required!
                        </ng-container>
                        <ng-container *ngIf="recipeForm.get('imageUrl')?.hasError('invalidImageUrl')">
                            Invalid Image URL. Make sure it starts with 'http://' or 'https://'.
                        </ng-container>
                    </small>
                </div>
            </div>


            <div class="col-10 col-md-4 col-lg-4 col-xl-4 ">

                <div class="form-group">
                    <label for="description">Ingredients</label>
                    <div
                        class="row"
                        style="margin-top: 10px"
                    >
                        <div class="col-md-12">
                            <button
                                type="button"
                                class="btn btn-primary"
                                (click)="onAddIngredient()"
                            >Add another ingredient</button>
                        </div>
                    </div>
                    <div class="row">
                        <div
                            class="col-md-12"
                            formArrayName='ingredients'
                        >
                            <div
                                class="row"
                                style="margin-top:10px"
                                *ngFor="let child of ingredientsFormArray.controls; let i=index"
                                [formGroupName]="i"
                            >
                                <div class="col-10 col-md-10">
                                    <input
                                        type="text"
                                        class="form-control"
                                        formControlName="ingredient"
                                    >
                                    <small
                                        class="input-help form-text "
                                        *ngIf="!ingredientsFormArray.controls[i].get('ingredient')?.valid && ingredientsFormArray.controls[i].get('ingredient')?.touched"
                                    >Ingredient is required!</small>

                                </div>

                                <div class="col-2 col-md-2">
                                    <button
                                        class="btn btn-primary"
                                        (click)="onRemoveIngredient(i)"
                                    >X
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-4 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label for="description">Method by steps</label>
                        <div
                            class="row"
                            style="margin-top: 10px"
                        >
                            <div class="col-md-12">
                                <button
                                    type="button"
                                    class="btn btn-primary"
                                    (click)="onAddStep()"
                                >Add another step</button>
                            </div>
                        </div>
                        <div class="row">
                            <div
                                class="col-md-12"
                                formArrayName='method'
                            >
                                <div
                                    class="row"
                                    style="margin-top:10px"
                                    *ngFor="let child of methodFormArray.controls; let i=index"
                                    [formGroupName]="i"
                                >
                                    <div class="col-10 col-md-10">
                                       
                                        <textarea
                                            class="form-control"
                                            formControlName="step"
                                            rows="6"
                                        ></textarea>

                                        <small
                                            class="input-help form-text "
                                            *ngIf="!methodFormArray.controls[i].get('step')?.valid && methodFormArray.controls[i].get('step')?.touched"
                                        >Method is required!</small>
                                    </div>

                                    <div class="col-2 col-md-2">
                                        <button
                                            class="btn btn-primary"
                                            (click)="onRemoveStep(i)"
                                        >X
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-6 col-md-6 offset-md-5">
                <div
                    class="alert alert-danger mb-4 mt-4"
                    *ngIf="error"
                >
                    {{error}}
                </div>

                <button
                    type="submit"
                    class=" btn btn-primary mb-5 mt-5"
                    [disabled]="!recipeForm.valid"
                >Edit Recipe</button>
            </div>
        </div>
    </div>
    </form>
</div>