<div class ="d-flex justify-content-center align-items-center p-4">
    <div class="row">
        <div *ngIf="isLoading">
            <app-loader />
        </div>
        <div *ngIf="!isLoading" class="col-12">
            <div class="row">
                <div class="col-12">

                    <h1>Delete recipe</h1>
                    <p>Are you shure that you want to delete <span>{{recipe?.title}}</span>?</p>
                </div>
            </div>
            <div class="row">
              <button class="col-3 col-sm-2 col-md-2 col-lg-2 me-2 btn btn-danger"(click)="onDelete()">Delete</button>
              <button class="col-3 col-sm-2 col-md-2 col-lg-2 btn btn btn-primary">No</button>
        
            </div>
        </div>

    </div>
</div>