.container-md{
    background-image: none;
}
.navbar {
    background-color: white;
    width: 100%;
}

img{
width: 100px;
opacity: 0.7;
border-radius: 16px;
}
.nav-link{
    border-radius: 8px;
    border: 1px solid transparent;
}
.nav-link:hover{
    /* background-color: var(--color-brown); */
    border: 1px solid var(--color-brown);
   
}
.active{
    border: 1px solid var(--color-brown);

    
}