
<div class="recipe-list">
    <div class="recipe-list-header">
        <h1 class="col-xs-12 text-center">{{category | uppercase}}</h1>
    </div>
    <div *ngIf="isLoading" >
        <app-loader />
    </div>
    <div
        *ngIf="!isLoading"
        class=""
    >
        <div *ngIf="noRecipesInTheList">
           <app-no-recipes/>
        </div>
        <div class="row row-gap-4" *ngIf="!noRecipesInTheList">
            <div class="col-xs-12 text-center">{{numLoadedRecipes}} loaded recipes from total: {{recipes?.length}}</div>
            <div class="row row-gap-3 gx-3 items">
                <app-recipe-item
                    *ngFor="let recipe of recipesToLoad; "
                    [recipe]="recipe"
                    ngClass="col-sm-6 col-md-6 col-lg-4"
                ></app-recipe-item>
            </div>
            <div class="col-12 text-center load-more" *ngIf="!noRecipesInTheList">
                <button [disabled]="!loadMore" class="btn btn-primary" (click)="onLoadMore()" >Load More</button>
            </div>
        </div>
    </div>
</div>
