<h1>{{category}}</h1>
<section class="recipe-list">
    <div *ngIf="isLoading">
      <app-loader />
    </div>
    <div *ngIf="!isLoading" class ="scroll-container">
      <div class="row">
        <div class="col-xs-12 border recipe-items">
          <app-recipe-item
            *ngFor="let selectedRecipe of recipes; "
            [recipe]="selectedRecipe"
          ></app-recipe-item>
        </div>
      </div>
    </div>
  
    <div *ngIf="!noRecipesInTheList">
      There are no recipes. You can <a href="">add recipe</a>.
    </div>
  
  </section>
