:root {
  --color-brown:#908279;
  --color-light: antiquewhite;
 

}
html,
body {
  background-color: var(--color-light);
  height: 100%;
}


.btn-primary {
  background-color:var(--color-brown);
  border: 2px solid transparent;
}
.btn-primary:hover {
  background-color: antiquewhite;
  border: 2px solid var(--color-brown);
  color: var(--bs-body-color);
}
.btn-primary:disabled{

  background-color: lightgray;
  border: 1px solid grey;
  color: grey
}

a {
  cursor: pointer;
}

.box {
  background-color: lightblue;
  border: 1px solid blue;
  min-height: 50px;
  font-size: 2rem;
}
.container-md{
  min-height: 84%;
  background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("https://images.pexels.com/photos/14639227/pexels-photo-14639227.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

/* @media (min-width: 576px) {
  body::before {
    content: "SM";
  }
} */

/* @media (min-width: 768px) {
  body::before {
    content: "MD";
  }
} */

/* @media (min-width: 992px) {
  body::before {
    content: "LG";
  }
} */
/* 
@media (min-width: 1200px) {
  body::before {
    content: "XL";
  }
} */

/* @media (min-width: 1400px) {
  body::before {
    content: "XXL";
  }
} */
