<div class="container">

    <section class="home" >
        <div *ngIf="isLoading">
            <app-loader />
        </div>
        <div *ngIf="!isLoading" >
            <div *ngIf="!noRecipesInTheList" class="home-cards">
                <app-recipe-item
                 *ngFor="let recipe of recipeList"
                 [recipe]="recipe">
                </app-recipe-item>
            </div>
        </div>
        
        <div *ngIf="noRecipesInTheList">
            There are no recipes. You can <a routerLink="/add-recipe">add recipe</a>.
        </div>
    
    </section>
</div>