<div class="container">

    <section class="home">
        <div *ngIf="isLoading" class="loader">
            <app-loader />
        </div>
        <div *ngIf="!isLoading">
         
            <div class="row p-4" >
                <div class="col-12">
                    <h1 class="text-center">Latest added recipes...</h1>
                </div>
                <div *ngIf="noRecipesInTheList">
                    <app-no-recipes />
                </div>
            </div>
           
            <div
                *ngIf="!noRecipesInTheList"
                class="home-cards row row-gap-3 gx-3 items"
            >
                <app-recipe-item
                    *ngFor="let recipe of recipeList"
                    [recipe]="recipe"
                    ngClass="col-6 col-sm-6 col-5 col-lg-3 "
                >
                </app-recipe-item>
            </div>
        </div>

    
    </section>
</div>