<section class="recipe-categories">
    <div *ngIf="isLoading">
        <app-loader />
    </div>
    <div
        *ngIf="!isLoading"
        class="recipe-categories-cards"
    >
        <div class="row gy-2">
                <app-recipe-category-item
                    *ngFor="let category of categoriesList"
                    [category]="category"
                    ngClass="col-xs-12 border"
                ></app-recipe-category-item>
        </div>
    </div>

    <!-- <div *ngIf="noRecipesInTheList">
        There are no recipes. You can <a href="">add recipe</a>.
    </div> -->

</section>